<h1 class="text-center">
  Badminton System  - {{currentTime}}
</h1>
<div class="container">
  <div class="row" *ngIf="init">
    <div *ngFor="let court of courtsInstance ;let index = index" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="well center">
        <h2 class="text-center">Court {{index + 1}}</h2>
        <div *ngFor="let x of [0,1,2,3]">
            <button class="padding col-lg-5 col-md-5 col-sm-5 col-xs-5 btn btn-info btn-md" (click)="removePlayer(index,court[x])"> {{court[x].name}} </button>
        </div>
      </div>
    </div>
  </div>


  <div class="well row">
    <h2>Waiting List   <button  class="btn btn-md btn-danger" (click)="removeAllPlayers()">Clear All</button></h2>
    <div *ngFor="let player of waitingInstance  ;let i = index" class="col-lg-2 col-md-2 col-sm-8 col-xs-12">
          <button *ngIf="i == 0" id="{{player.name}}" class="col-lg-8 col-md-10 col-sm-12 col-xs-12 btn btn-md btn-success" (mousedown)="ValidateRemovingPlayer($event,player)"> {{player.name}} </button>
          <button *ngIf="i != 0" id="{{player.name}}" class="col-lg-8 col-md-10 col-sm-12 col-xs-12 btn btn-md btn-info" (mousedown)="ValidateRemovingPlayer($event,player)"> {{player.name}} </button>
      </div>
  </div>


  <div class="well row">
      <h2>All Players</h2>
    <div *ngFor="let player of playerInstance " class="col-lg-2 col-md-2 col-sm-8 col-xs-12">
      <div [hidden]="!(player.waiting !== true)" >
          <button class="col-lg-8 col-md-10 col-sm-12 col-xs-12 btn btn-info btn-md" (click)="moveToWaitingList(player)"> {{player.name}} </button>
      </div>
      </div>
  </div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <input type="text" class="form-control" [(ngModel)]="newPlayer" placeholder="Name"/>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-sm btn-info" (click)="addNewPlayer()">Add Player</button>
  </div>
</div>

</div>
